<template>
  <component :class="classes" :is="tag" :to="to">
    <slot />
  </component>
</template>

<script>
export default {
  name: 'VBtn',
  props: {
    to: { type: [ String, Object ]  },
    color: { type: String, default: 'grey' },
    size: { type: String, default: 'xs' }
  },
  computed: {
    tag() {
      return this.$props.to ? 'nuxt-link' : 'button'
    },
    classes() {
      return {
        'no-underline inline-flex items-center': this.$props.to,
        'focus:outline-none': !this.$props.to,
        'bg-grey-light': this.$props.color == 'grey', 
        'bg-blue-light': this.$props.color == 'blue', 
        'border border-solid border-grey-dark': this.$props.color == 'grey',
        'text-dark-light': this.$props.color == 'grey',          
        'text-white': this.$props.color == 'blue',          
        'px-4 py-1 text-sm': this.$props.size == 'xs',                            
        'px-20 py-4 text-base': this.$props.size == 'md',                        
        'px-8 py-10 text-base': this.$props.size == 'xl',                        
      }
    }
  }
}
</script>

<style>

</style>
