<template>
  <footer class="footer">
    <div class="bg-dark px-20 py-16">
      <div class="container flex">
        <div v-for="(nav, i) in navs" :key="i">
          <div class="text-grey-light font-light font-heading mb-5">{{ nav.heading }}</div>
          <ul class="list-reset mr-35">
            <li :class="nav.list.length == i+1 ? '': 'mb-3'" v-for="(item, i) in nav.list" :key="i">
              <nuxt-link class="no-underline font-light text-grey-dark" to="/">{{ item.title }}</nuxt-link>
            </li>
          </ul>
        </div>

        <a class="h-full flex items-center ml-auto" href="/">
          <img class="max-h-20" src="/images/logo.png" alt="">
        </a>
      </div>
    </div>
    <div class="h-25 bg-black text-grey-dark flex items-center justify-center text-center font-extrabold text-sm">© 2010-2016 Herbstea.com. All rights reserved.</div>
  </footer>
</template>

<script>
export default {
  name: 'vFooter',
  data: () => ({
    navs: [
      { 
        heading: 'Muscle',
        list: [ 
          { title: 'About Us', slug: '' },
          { title: 'Site Map', slug: '' },
          { title: 'Provice Policy', slug: '' },
          { title: 'Careers', slug: '' },
        ]
      },
      { 
        heading: 'Market',
        list: [ 
          { title: 'Terms', slug: '' },
          { title: 'Licenses', slug: '' },
          { title: 'Become an affiliate', slug: '' },
        ]
      },
      { 
        heading: 'Help Center',
        list: [ 
          { title: 'Help Center', slug: '' },
          { title: 'Licenses', slug: '' },
        ]
      },
      { 
        heading: 'Community',
        list: [ 
          { title: 'Forum', slug: '' },
          { title: 'Submit Video', slug: '' },
        ]
      },
    ]
  })
}
</script>