<template>
  <component class="text-center" :class="classes" :is="tag"><slot /></component>
</template>

<script>
export default {
  name: 'vHeading',
  props: {
    level: { type: Number, default: 1 },
    theme: { type: String, default: 'light' }
  },
  computed: {
    tag() {
      return `h${this.$props.level}`
    },
    classes() {
      return {
        'text-5xl font-heading font-bold': this.$props.level == 1,
        'text-4xl font-heading font-semibold': this.$props.level == 2,
        'text-2xl font-heading': this.$props.level == 3,
      }
    }
  }
}
</script>