<template>
  <header class="header">
    <div class="container mx-auto"></div>
    <div class="flex bg-white h-30">
      <div class="h-full container flex items-center">
        <a class="h-full flex items-center mr-35" href="/">
          <img class="max-h-20" src="/images/logo.png" alt="">
        </a>

        <v-btn to="/">Start Selling</v-btn>
      </div>
    </div>

    <div class="bg-dark h-30">
      <nav class="h-full container">
        <ul class="list-reset h-full -mx-10">
          <li class="h-full inline-flex" v-for="(nav, i) in navs" :key="i">
            <nuxt-link class="uppercase text-white hover:text-beige text-lg font-bold no-underline font-heading flex items-center justify-center h-full px-10" :to="nav.slug">{{ nav.title }}</nuxt-link>
          </li>
        </ul>
      </nav>
    </div>
  </header>
</template>

<script>
export default {
  name: 'VHeader',
  data: () => ({
    navs: [
      { title: 'Bodybuilding', slug: '/' },
      { title: 'Crossfit', slug: '/' },
      { title: 'Lose Weight', slug: '/' },
      { title: 'Diet plans', slug: '/' },
      { title: 'Tutors', slug: '/' }
    ]
  })
}
</script>

<style>

</style>
