<template>
  <ul class="list-reset leading-normal">
    <li class="line-through text-sm text-grey-dark" v-if="$props.oldPrice">${{ oldPrice }}</li>
    <li class="text-lg">${{ newPrice }}</li>
  </ul>
</template>

<script>
export default {
  name: 'VPrice',
  props: {
    oldPrice: { type: Number },
    newPrice: { type: Number, required: true }
  }
}
</script>
