<template>
  <div class="text-sm">
    <span class="mr-2 text-grey-dark">By</span> 
    <nuxt-link class="no-underline hover:underline" :class="classes" to="/"><slot /></nuxt-link> 
  </div>
</template>

<script>
export default {
  name: 'VRecomend',
  props: {
    light: { type: Boolean, default: false },
    dark: { type: Boolean, default: true }
  },
  computed: {
    classes() {
      return {
        'text-dark': this.$props.dark,
        'text-white': this.$props.light,
      }
    }
  }
}
</script>
