<template>
  <section class="py-40" :class="classes">
    <slot />
  </section>
</template>

<script>
export default {
  name: 'VSection',
  props: {
    bg: { type: String, default: 'white' }
  },
  computed: {
    classes() {
      return {
        'bg-white': this.$props.bg == 'white',
        'bg-grey-lighter': this.$props.bg == 'grey',
        'bg-dark': this.$props.bg == 'dark'
      }
    }
  }
}
</script>


<style>
</style>
