<template>
  <div class="min-h-screen flex flex-col">
    <v-header></v-header>
    <nuxt />
    <v-footer></v-footer>
  </div>
</template>

<style>
html {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  color: #212121;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}
</style>
