<template>
  <v-main>
    <v-section bg="grey">
      <div class="container">
        <v-heading class="mb-8 uppercase text-dark">19 WORKOUT PROGRAMS & DIET PLANS</v-heading>

        <div class="text-2xl font-light text-center mb-30">Muscle Madness links 6 million fitness enthusiasts all around the world.</div>

        <div class="text-3xl font-light text-center mb-20">Recommended for you</div>

        <ul class="list-reset flex justify-between -mx-10">
          <li class="px-10" v-for="(item, i) in recomended" :key="i">
            <nuxt-link class="block h-100 w-full bg-white mb-8" to="/">
              <div class="bg-center bg-no-repeat bg-cover w-full h-full" :style="`background-image: url(${item.img})`"></div>
            </nuxt-link>

            <nuxt-link class="block text-center text-lg font-heading no-underline text-dark hover:underline leading-normal" to="/">{{ item.title }}</nuxt-link>

            <div class="text-center text-sm">
              <span class="mr-2 text-grey-dark">By</span> 
              <nuxt-link class="no-underline hover:underline text-dark" to="/">{{ item.autor }}</nuxt-link> 
            </div>
          </li>
        </ul>
      </div>
    </v-section>

    <v-section class="border-b border-solid border-grey-light">
      <div class="container">
        <v-heading class="mb-16 uppercase text-dark" :level="2">ATHLETES</v-heading>

        <ul class="list-reset flex justify-center items-center text-center mb-30">
          <li
            class="cursor-pointer text-lg px-8 select-none"
            :class="{ 'text-blue-light': !athletes.activeFilter }"
            @click="athletes.activeFilter = ''">All</li>
          <li
            class="cursor-pointer text-lg px-8 select-none"
            :class="{ 'text-blue-light': athletes.activeFilter == filter }"
            v-for="(filter, i) in athletes.filters"
            :key="i"
            @click="athletes.activeFilter = filter">{{ filter }}</li>
        </ul>

        <ul class="list-reset flex flex-wrap justify-center -mx-5 mb-30">
          <li class="px-5 w-75 flex flex-col mb-16" v-for="(man, i) in filterPeople" :key="i">
            <nuxt-link class="block h-75 w-full bg-white mb-4" to="/">
              <div class="bg-center bg-no-repeat bg-cover w-full h-full" :style="`background-image: url(${man.img})`"></div>
            </nuxt-link>

            <nuxt-link class="text-sm text-dark no-underline hover:underline pl-4" to="/">{{ man.name }}</nuxt-link>
          </li>
        </ul>

        <div class="text-center">
          <v-btn class="mx-auto font-bold uppercase" size="md" to="/">View All</v-btn>
        </div>
      </div>
    </v-section>

    <v-section>
      <div class="container">
        <v-heading class="mb-16 text-dark" :level="2">Global Source of Health on the Internet</v-heading>

        <div class="text-2xl font-light text-center mb-30">19 programs and services from 12 trainers.</div>
      </div>

      <div class="bg-grey-lightest">
        <div class="container">
          <ul class="list-reset flex">
            <li
              class="flex-grow py-12 pl-16 text-lg cursor-pointer border-r-0 border-solid border-grey-light"
              :class="tabClass(i, tab)"
              v-for="(tab, i) in programs.tabs"
              :key="i"
              @click="programs.activeTab = tab">{{ tab }}</li>
          </ul>
        </div>
      </div>

      <div class="container">
        <div class="flex mb-30 py-20">
          <div class="w-1/3">
            <nuxt-link class="h-full w-full bg-white no-underline hover:underline text-white font-heading text-xl" to="/">
              <div class="flex items-end relative bg-cover bg-no-repeat w-full h-full" style="background-image: url('/images/2.jpg')">
                <div class="absolute h-full w-full pin-t pin-l gradient"></div>
                <div class="pb-10 px-16 relative z-10">Legs and Butt Program</div>
              </div>
            </nuxt-link>
          </div>

          <ul class="list-reset flex flex-wrap w-2/3">
            <li class="w-1/2 flex px-10" :class="{'mb-20': n == 1 || n == 2}" v-for="n in 4" :key="n">
              <nuxt-link class="block h-70 w-70 bg-white mr-10" to="/">
                <div class="bg-center bg-no-repeat bg-cover w-full h-full" style="background-image: url('/images/1.jpg')"></div>
              </nuxt-link>

              <div class="flex flex-col">
                <nuxt-link class="no-underline hover:underline text-blue-light font-heading break-words flex-grow" to="/">4 Week Body Weight Training</nuxt-link>

                <v-recomend class="mb-2">Emma Tall</v-recomend>
                <div class="flex items-end">
                  <v-price class="mr-4" :old-price="65" :new-price="59"></v-price>
                  <button class="w-10 h-10 mr-8"><img src="/icons/shopping-cart.svg" alt=""></button>
                  <button class="w-10 h-10"><img src="/icons/love.svg" alt=""></button>
                </div>
              </div>
            </li>
          </ul>
        </div>

        <div class="text-center">
          <v-btn class="mx-auto font-bold uppercase" size="md" to="/">View All</v-btn>
        </div>
      </div>
    </v-section>

    <v-section bg="dark">
      <div class="container">
        <v-heading class="mb-16 uppercase color text-white" :level="2">LATEST WORKOUT ARTICLES</v-heading>

        <ul class="list-reset flex -mx-10 mb-30">
          <li class="w-1/3 px-10" v-for="(article, i) in latestWorkoutArticles" :key="i">
            <nuxt-link class="block h-125 w-full bg-dark mb-8" to="/">
              <div class="bg-center bg-no-repeat bg-cover w-full h-full" :style="`background-image: url(${article.img})`"></div>
            </nuxt-link>

            <nuxt-link class="no-underline hover:underline text-sm text-grey-dark font-heading block mb-4" to="/">{{ article.type }}</nuxt-link>

            <nuxt-link class="text-2xl text-beige font-heading no-underline hover:underline leading-normal font-bold block mb-4" to="/">{{ article.title }}</nuxt-link>

            <div class="text-sm">
              <span class="mr-2 text-grey-dark">By</span> 
              <nuxt-link class="no-underline hover:underline text-white" to="/">{{ article.autor }}</nuxt-link> 
            </div>
          </li>
        </ul>

        <div class="text-center">
          <v-btn class="mx-auto font-bold uppercase" size="md" to="/">View All</v-btn>
        </div>
      </div>
    </v-section>

    <v-section bg="grey">
      <div class="container text-center">
        <h2 class="uppercase font-heading text-5xl text-center mb-30">GET EXCLUSIVE CONTENT</h2>

        <div class="border-2 border-solid border-dark inline-flex mx-auto">
          <input class="w-290 text-2xl leading-normal p-10 font-heading outline-none" type="text">
          <v-btn class="uppercase font-bold text-2xl leading-normal" size="xl" color="blue">Subscribe</v-btn>
        </div>
      </div>
    </v-section>

    <v-section>
      <div class="container">
        <v-heading class="mb-16 text-dark" :level="2">Why Muscle Madness?</v-heading>

        <div class="text-lg font-light text-center leading-normal mb-30">Our Community is a great place for people who seek to be fit and healthy. This is a powerful platform for the best professional trainers and instructors to present and promote their training programs as well as for the everyday fitness enthusiasts from all over the globe to find the most efficient tool that will help them to achieve desired results faster.</div>

        <ul class="list-reset flex -xm-5">
          <li class="w-1/4 px-5" v-for="(item, i) in why" :key="i">
            <div class="w-30 h-30 mx-auto mb-10">
              <img class="w-full h-full" :src="item.img" alt="">
            </div>

            <v-heading class="font-normal mb-8" :level="3">{{ item.title }}</v-heading>

            <div class="text-center leading-normal">{{ item.text }}</div>
          </li>
        </ul>
      </div>
    </v-section>
  </v-main>
</template>

<script>
export default {
  data: () => ({
    recomended: [
      { img: '/images/recomended/1.jpg', title: 'TDSM 7 Day Eating Plan by SI', autor: 'Simon Thomsen' },
      { img: '/images/recomended/2.jpg', title: 'TDSM 7 Day Eating Plan by SI', autor: 'Simon Thomsen' },
      { img: '/images/recomended/3.jpg', title: 'TDSM 7 Day Eating Plan by SI', autor: 'Simon Thomsen' },
      { img: '/images/recomended/4.jpg', title: 'TDSM 7 Day Eating Plan by SI', autor: 'Simon Thomsen' },
      { img: '/images/recomended/5.jpg', title: 'TDSM 7 Day Eating Plan by SI', autor: 'Simon Thomsen' },
    ],
    athletes: {
      activeFilter: '',
      filters: [ 'Fitness', 'Bodybuilding', 'Strength', 'Nutrition', 'Health' ],
      people: [
        { img: '/images/athletes/1.jpg', name: 'Simon Thomsen', filter: 'Fitness' },
        { img: '/images/athletes/2.jpg', name: 'Simon Thomsen', filter: 'Bodybuilding' },
        { img: '/images/athletes/3.jpg', name: 'Simon Thomsen', filter: 'Health' },
        { img: '/images/athletes/4.jpg', name: 'Simon Thomsen', filter: 'Bodybuilding' },
        { img: '/images/athletes/5.jpeg', name: 'Simon Thomsen', filter: 'Fitness' },
        { img: '/images/athletes/6.jpg', name: 'Simon Thomsen', filter: 'Bodybuilding' },
        { img: '/images/athletes/7.png', name: 'Simon Thomsen', filter: 'Fitness' },
        { img: '/images/athletes/8.jpg', name: 'Simon Thomsen', filter: 'Bodybuilding' },
        { img: '/images/athletes/9.jpg', name: 'Simon Thomsen', filter: 'Strength' },
        { img: '/images/athletes/10.jpg', name: 'Simon Thomsen', filter: 'Fitness' },
        { img: '/images/athletes/11.jpg', name: 'Simon Thomsen', filter: 'Nutrition' },
        { img: '/images/athletes/13.png', name: 'Simon Thomsen', filter: 'Fitness' },
      ]
    },
    programs: {
      tabs: [ 'Fitness', 'Bodybuilding', 'Strength', 'Nutrition', 'Health' ],
      activeTab: 'Fitness',
      items: [
        {
          title: 'HIT Workouts'
        }
      ]
    },
    latestWorkoutArticles: [
      { img: '/images/articles/1.jpg', type: 'Training', title: 'What are the secrets of the best powerlifters in the USA?', autor: 'Muscle Madness' },
      { img: '/images/articles/2.jpg', type: 'Athletes', title: 'What are the secrets of the best powerlifters in the USA?', autor: 'Muscle Madness' },
      { img: '/images/articles/3.jpg', type: 'Athletes', title: 'What are the secrets of the best powerlifters in the USA?', autor: 'Muscle Madness' },
    ],
    why: [
      { img: '/icons/1.png', title: 'Shop with Confidence', text: 'Pay with the world’s most popular and secure payment methods' },
      { img: '/icons/2.png', title: 'Biggest Community', text: 'More than 10 mln users all over the world' },
      { img: '/icons/3.png', title: 'Quality First', text: 'All the training programs are reviewed and approved by our team' },
      { img: '/icons/4.png', title: 'Wide Choice', text: 'Popular and exclusive training programs' },
    ]
  }),
  computed: {
    filterPeople() {
      if(!this.athletes.activeFilter) {
        return this.athletes.people
      }

      return this.athletes.people.filter(el => el.filter == this.athletes.activeFilter)
    }
  },
  methods: {
    tabClass(index, tab) {
      return {
        'border': true,
        'border-l-0': index == 0 && this.programs.activeTab != tab,
        'border-r': index == this.programs.tabs.length -1 && this.programs.activeTab == tab,
        'border-t-3 border-b-0 border-l active bg-white': this.programs.activeTab == tab
      }
    }
  }
}
</script>

<style>
.active {
  border-top-color: black;
}

.gradient {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 36%, rgba(0, 0, 0, 0.31) 56%, rgba(0, 0, 0, 1) 100%);
}
</style>